/***************global****************/
iframe{
  width: 100%;
  min-height: 400px;
}

/***************Page*****************/
body{
  //background: url(/images/bg.jpg) no-repeat center center;
}

#about{
  
}

#about canvas{
  width: 940px;
}
